@import url(./reset.css);
/*헤더 페이지 CSS*/

html,body {
    font-size: 62.5%
}

.Header_wrap {
    width: 100%;
    margin-bottom: 10rem;
    display: flex;
    justify-content: space-between;
}
.Header_wrap button {
    width: 10rem;
    height: 50%;
    margin: 1.6rem;
    background-color: black;
    color: white;
    border: none;
    border-radius: 0.5rem;
}

.Header_wrap img {
    width: 10rem;
    margin: 2rem;
}

.List_wrap {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.List_wrap > li {
    margin: 1rem;
    font-size: 1.3rem;
}

/*로그인 css*/
.login_wrap {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 20rem;
}

.login_wrap input,
.login_wrap button {
    width: 20rem;
    height: 5rem;
    margin: 1rem 0 0 0;
    border-radius: 1rem;
}

/*마이페이지 CSS*/
.User_wrap {
    display: flex;
    height: 11rem;
    justify-content: space-around;
    align-items: center;
}

.Profile_wrap {
    display: flex;
    width: 55rem;
    height: 100%;
    font-size: 1.5rem;
    overflow: hidden;
    border: 0.1rem solid gainsboro;
    border-radius: 1rem;
    margin-right: 1rem;
}

.Profile_wrap img {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    margin: 0.5rem 0 0 1rem;
}

.Userdata_wrap {
    margin: 3rem 0 3rem 1.5rem;
}
.Userdata_wrap > div {
    margin: 0.5rem 0 1.5rem 0.5rem
}

.Change_wrap {
    display: flex;
    text-align: center;
}

.Change_wrap button {
    width: 10rem;
    height: 5rem;
    background-color: gray;
    color: white;
    border: none;
    border-radius: 1rem;
}

.Btn_changeID {
    margin-right: 8rem;
}


.Proj_wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20rem 5rem 5rem 5rem;
}
.Check_Proj_wrap > ul,
.Proj_wrap > ul {
    width: 40rem;
    background-color: gainsboro;
    border-radius: 1rem;
}

.EvalList > h1,
.Check_Proj_wrap > ul > h1,
.Proj_wrap > ul > h1 {
    width: 100%;
    text-align: center;
    font-size: 3rem;
    margin: 2rem 0;
    color: white;
}

.Eval_wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15rem 5rem 5rem 5rem;   
}

.EvalList {
    width: 80%;
    display: flex;
    justify-content: space-between;
    padding: 2rem 10rem;
    border-bottom: solid;
    background-color: gainsboro;
    border-radius: 1rem;
}

.EvalList > span {
    font-size: 1.8rem;
}

.EvalItem img {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    overflow: hidden;
}

.Ing_list {
    height: 2rem;
    padding: 1.2rem;
    font-size: 1.5rem;
}

/*비밀번호 변경*/

.Change_PW_wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Change_PW_wrap > div {
    width: 25rem;
    display: flex;
    flex-direction: column;
    margin-bottom: 10rem;
}

.Change_PW_wrap form {
    display: flex;
    flex-direction: column;
    margin-bottom: 4.5rem;
}

.Change_PW_wrap form input {
    height: 7rem;
    border-radius: 1rem;
    margin-bottom: 1rem;
}

.Change_PW_wrap form button {
    height: 3rem;
    border-radius: 1rem;
}

/* 프로젝트 조회 */
.FilterWrap,
.Search_wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
}

.dropdown_wrap > select {
    width: 14rem;
    height: 4.6rem;
    margin-right: 1rem;
}

.Searchkey_wrap {
    display: flex;
}

.SearchInput {
    height: 4rem;
    width: 42rem;
    padding-left: 1rem;
}

.SearchBtn {
    margin-left: 1rem;
}

.Check_Proj_wrap {
    display: flex;
    justify-content: center;
}

.ShowProj {
    display: flex;
    justify-content: center;
    margin: 5rem 0 8rem;
}

.ShowProj button {
    font-size: 2rem;
}

.ShowProgress {
    margin-right: 1rem;
}

/* 프로젝트 컴포넌트 */ 

.ProjTable {
    font-size: 2rem;
}

.ProjTable thead {
    background-color: grey;
    color: white;
    text-align: left;
}

.ProjTable td,
.ProjTable th {
    padding: 2rem;
    border-bottom: 0.1rem solid white;
}

.ProjTable tbody {
    background-color: gainsboro;
}

.ProjTitle {
    font-size: 1.8rem;
    margin-bottom: 2rem;
}

/*평가 조회*/
.Eval_wrap {
    justify-content: center;
}

.EvalTable {
    font-size: 2rem;
}

.EvalTable thead {
    background-color: grey;
    color: white;
    text-align: left;
}

.EvalTable td,
.EvalTable th {
    padding: 2rem;
    border-bottom: 0.1rem solid white;
}

.EvalTable tbody {
    background-color: gainsboro;
}


/*프로젝트 등록*/
.Form_wrap {
    display: flex;
    justify-content: center;
}

.Form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Form label {
    width: 50rem;
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem ;
    font-size: 1.3rem;
}

.Form input {
    margin-top: 1rem;
    height: 4.5rem;
}

.Form button {
    margin-bottom: 5rem;
}

/* 평가 버튼 */
.Radio_wrap{
    display: flex;
    flex-direction: row;
}

.Radio_wrap > label {
    display: flex;
    align-items: center;
}


/* 모달 */
.Modal_wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.project-details {
    text-align: center;
  }
  
  .project-name {
    font-size: 2.4rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }
  
  .project-info {
    display: inline-block;
    text-align: left;
    margin-top: 1rem;
  }
  
  .works-for {
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
  }
  
  .works-for-title {
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }

  .works-for-item-wrap {
    display: flex;
    align-items: center;
    background-color: aqua;
    margin-bottom: 2rem;
  }
  
  .works-for-item {
    margin-bottom: 1rem;
    border: 0.1rem solid #ccc;
    padding: 1rem;
    margin-right: 1rem;
  }


  .detailItemWrap {
    display: flex;
    flex-direction: column;
  }

  .detailItem {
    border: 0.1rem solid #ccc;
  }

/* 개발자 결과 조회 */
.EmployeeWrap {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 8rem 0 8rem 0;
}
.EmployeeWrap h1 {
    font-size: 2rem;
    margin-bottom: 4rem;
}

.EmployeeTable {
    width: 80%;
    font-size: 2rem;
}

.EmployeeTable thead {
    background-color: grey;
    color: white;
    text-align: left;
}

.EmployeeTable td,
.EmployeeTable th {
    padding: 2rem;
    border-bottom: 0.1rem solid white;
}

.EmployeeTable tbody {
    background-color: gainsboro;
}

.Test {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: gray;
}
.TestDrop > select {
    width: 14rem;
    height: 4.6rem;
    margin-right: 1rem;
}

